<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>this is section 3</h2>
			<p>cool thing can go here.<br /> perfect</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Location</h3>
				<p>This will be the location</p>
			</li>
			<li class="icon fa-laptop">
				<h3>People</h3>
				<p>people will go here</p>
			</li>
			<li class="icon fa-code">
				<h3>other thing</h3>
				<p>other thing goes here</p>
			</li>
			<li class="icon fa-headphones">
				<h3>Friends</h3>
				<p>friends can go here</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>other cool thing again</h3>
				<p>i'm running out of cool stuff</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>plant your flag</h3>
				<p>flag planted.</p>
			</li>
		</ul>
	</div>
</section>
